@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #251749;
  color: #fffbeb;
}

.films {
  padding: 2rem 0;
  display: grid;
  row-gap: 1rem;
}

h2 {
  border-bottom: 1px solid #ff9e9e;
  border-width: thick;
  width: fit-content;
  border-radius: 0.2rem;
}

.title {
  padding-top: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.film-wrapper {
  padding: 1rem 3rem;
}

.selected {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.selected__title {
  margin-bottom: 2rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  --border-size: 3px;
  --border-angle: 0turn;

  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-animation: bg-spin 3s linear infinite;
  animation: bg-spin 3s linear infinite;
}
@-webkit-keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
.box:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@property --border-angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0turn;
}

button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  background-color: #263159;
  border: none;
  border: 2px solid currentColor;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  transition: border 0.1s ease-in;
}

button:hover {
  border: 2px solid #f56eb3;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

input {
  display: block;
  padding: 0.5rem;
  outline: none;
  border: none;
  border: 3px solid #f56eb3;
  margin-top: 2rem;
}
